credentials.json

# Ignorar pastas temporárias
node_modules/
dist/
.env

# Ignorar logs
*.log

# Ignorar sistema do VSCode
.vscode/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
teste.js
auth_info_baileys