credentials.json

# Ignorar pastas temporárias
node_modules/
dist/
.env
auth_info_baileys/

# Ignorar logs
*.log

# Ignorar sistema do VSCode
.vscode/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
